.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: white;
  height: auto;
  max-height: 25vh;
  border-radius: 5px;
}

.infor_Payment {
  width: 80%;
  max-width: 80%;
  display: grid;
  grid-template-rows: auto;
  gap: 20px;
  padding: 10px;
}

.title_Payment {
  color: red;
  font-size: 25px;
  font-weight: 700;
}

.infor_UserPayment {
  line-height: normal;
  font-size: 17px;
  font-weight: 400;
}

.infor_UserPayment {
  line-height: normal;
  font-size: 17px;
  font-weight: 400;
}
