.infor_laptop {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 500px;
    border: 1px solid red;
    border-bottom-left-radius: 20px;
    z-index: 1;
}

.produce_title {
    font-size: 20px;
    line-height: 20px;
}

.infor_laptop img {
    width: 100%;
    max-width: 100%;
    max-height: 300px;
    height: 250px;
    z-index: 0;
}

.wrap_produce {
    display: flex;
    z-index: 0;
    position: relative;
}