.infor_laptop {
  cursor: pointer;
  display: grid;
  grid-auto-rows: auto auto;
  width: 100%;
  gap: 5px;
  justify-items: center;
  border: 1px solid #dee2e7;
  padding: 5px 0px;
  border-radius: 10px;
  fill: #fff;
  stroke-width: 1px;
  background: white;
}

.produce_title {
  font-size: 20px;
  line-height: 20px;
}

.box_Product {
  height: auto;
  margin: 5px auto;
  overflow: hidden;
  position: relative;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box_Product img {
  z-index: 0;
  transition: all 1s;
  transform: scale(0.8);
  width: 180px;
  height: 180px;
}

img {
  vertical-align: middle;
}

.infor_laptop img:hover {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.wrap_produce {
  z-index: 0;
  position: relative;
  padding-top: 20px;
}

.container_RelatedProduct {
  display: grid;
  grid-template-rows: auto;
  gap: 20px;
}

.title_RelatedProduct {
  display: flex;
  justify-content: center;
}

.price_Product {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: start;
}

.name_Product {
  display: grid;
  grid-template-rows: auto auto;
  gap: 5px;
  color: var(--base-color-gray-800, #606060);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.2px;
}

.price {
  color: var(--dark, #1c1c1c);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}

.icon_Favorite {
  color: #1c1c1c;
  font-size: 35px;
  font-weight: 300;
}

.bgDefaut_Icon {
  font-size: 35px;
}

.bgFavotire_Icon {
  font-size: 35px;
  fill: red;
}
