.infor_laptop {
  cursor: pointer;
  display: grid;
  grid-auto-rows: auto auto;
  width: 100%;
  gap: 5px;
  justify-items: center;
  border: 1px solid;
  padding: 5px 0px;
  border-radius: 20px;
}

.produce_title {
  font-size: 20px;
  line-height: 20px;
}

.box_Product {
  border: 1px solid #ccc;
  height: auto;
  margin: 10px auto;
  overflow: hidden;
  position: relative;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box_Product img {
  z-index: 0;
  transition: all 1s;
  transform: scale(0.8);
  width: 180px;
  height: 180px;
}

img {
  vertical-align: middle;
}

.infor_laptop img:hover {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.wrap_produce {
  z-index: 0;
  position: relative;
  padding-top: 20px;
}

.container_RelatedProduct {
  display: grid;
  grid-template-rows: auto;
  gap: 20px;
}

.title_RelatedProduct {
  display: flex;
  justify-content: center;
}
