.container_pay {
  border-radius: 10px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrap_btn {
  padding: 16px 0;
}

.wrap_pay {
  padding: 30px;
  background-color: #fff;
  border-radius: 6px;
}
