.infor_Product {
  width: 100%;
  display: grid;
  grid-template-rows: auto auto;
  gap: 20px;
}

.content_ProductPay {
  padding: 10px;
}
.content_Produt {
  display: grid;
  grid-template-rows: auto;
}

/* .line {
  border-bottom: 1px solid var(--gray-300, #dee2e7);
} */

.payment_title {
  border-left: 1px solid var(--gray-300, #dee2e7);
  border-right: 1px solid var(--gray-300, #dee2e7);
  border-top: 1px solid var(--gray-300, #dee2e7);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.payment_listProduct {
  border-left: 1px solid var(--gray-300, #dee2e7);
  border-right: 1px solid var(--gray-300, #dee2e7);
  border-bottom: 1px solid var(--gray-300, #dee2e7);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.note_Shop {
  border: 1px solid var(--gray-300, #dee2e7);
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}

.noteMessage {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.timeShip {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  align-items: center;
}

input {
  width: 50%;
}

.form_PayOrder {
  margin: 0px !important;
}

.Total,
.content_ProductPay {
  border-radius: 6px;
  border: 1px solid var(--gray-300, #dee2e7);
  background: var(--base-color-white, #fff);
}

.title_Total {
  color: var(--dark, #1c1c1c);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
