.wrap_infor_pay {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.infor_pay_title {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2em;
}

.infor_pay_profile {
    display: flex;
    gap: 10px;
    flex-direction: row;
}

.adress_pay {
    display: flex;
    flex-wrap: wrap;
    background: #ECECEC;
    border-radius: 4px;
    padding: 16px;
    gap: 10px;
    justify-content: center;
}

.adress_pay_items {
    width: 48%;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.note_pay {
    margin: 10px 0;
    padding: 10px 0;
    height: 35px;
    display: flex;
    padding: 0 14px;
    align-items: center;
}

.infor_pay_font_weight {
    font-weight: 600;
}

.bill_pay {
    font-weight: 600;
}

.input_bill {
    padding: 16px;
    background: #ECECEC;
    border-radius: 4px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input_bill_wrap_items_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input_bill_items_top {
    width: 48%;
    height: 35px;
    display: flex;
}

.input_bill_items_bottom {
    height: 35px;
    display: flex;
}

.input_bill_wrap_items_bottom {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}

.wrap_transport {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 600;
    font-size: 16px;
    padding-top: 15px;
    border-top: 1px solid #cfcfcf;
}

.total {
    display: flex;
    flex-direction: row;
    font-weight: 600;
    justify-content: space-between;
    padding-bottom: 10px;
}

.sub_total {
    font-size: 16px;
}

.sub_price {
    font-size: 24px;
    color: #E30019;
}

.btn_oder {
    padding: 30px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
}

.dec_pay {
    text-align: center;
}